.img-brand {
  
  margin-top: 15px;
  
}

.img-featured {
    
  padding-left: 10px;
  max-width: 100%;
  width: 60%;
  
  @media screen and (max-width: 650px) {
    
    width: 100%;
    float: none;
    padding: 5px;
    
  }
    
}