.container {
  
  background-color: white;
  
}

.hero {
  
  background-color: $brand-primary;
  color: white;
  padding: 1em 1em 0 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: -15px;
  margin-right: -15px;
  
  a {
    
    color: white;
    text-align: center;
    
  }
  
  h1 {
    
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 1em;
    padding: 1em;
    margin-top: 2.5em;
  }
  
  img {
    
    margin-bottom: 1em;
    
  }
  
}