<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  If you wish to find out whether you may be suitable for this treatment, please read the information on this website carefully. If, after reading this information and discussing it with your MS team, you still feel that the treatment may be helpful you need to talk to your own neurologist or GP about a referral. <strong>We cannot consider you for a consultation without a referral.</strong>.
</div>


