<footer id="footer">
  <div>
    <div class="pull-right">
      <a href="#top">Cookie Policy</a> &nbsp; | &nbsp; <a href="#top">Back to the top</a>
    </div>
    <p>Sheffield Teaching Hospitals NHS Foundation Trust</p>
  </div>
</footer>