<section class="hero text-center">
  <h1>Autologous Haematopoietic Stem Cell Transplantation (AHSCT) Treatment at Sheffield Teaching Hospitals</h1>
  
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <a href="#">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACa0lEQVRYR+2XzU0CQRTHXeNZpAKXCoQKhArEqxfWCuDuwbUCsQIxMV6FDrACtQKxAijAZP3/Nm9wSFBEZlcPTvIybz547/8+Z4m2fnlE6M+yrK3poCQsE+kZRVE0Q18k5WPNhyUpd2qeBKDhAGQlK8/VCUDufTwQEsCz5NYtpH3xsfH30lUV7YleigSQu9aUXoqvlQ3g29EsKgQbAWgJFRVR6HA5t8wD/wD+hgcUo7qSoKsYnVoJ1cWn4nva3xVt25r2HYvv6ywV/yba8e7OxA/sbCj+ieRamQO6QLOYiADSFx3qx1Xts3cmurWmQsJWrNbp6yeiO6337O7UegJnGMHvVwOwSwMDca75WTQU9Uw4PNbgEYRzN7Guxz7niQhDUjvDmHys9IBdwr20z5FoLLoU3UhJIgEIZ80ZALqiK531LEycXRmAI80XhGktAAYC4VgJAPp3gzhaiKZaH4smokfvLHZ3NcNjRM253+Tmb8/KPkAyeokz502If9b0G9hXv1sLgHNZ6NnCRFXgvYXnuJQ+YF5oEj5A+N8DQQFYrvCZRy6g7MGUDzR3RORYqxAA5mZKmFJ0A5dTpjURHiDBO8EBeKW4LH3oKSTtTPfoF3FQABKKuylLZzn9IBFVRL5ywkBzaoYGgLJrM919nrmW3jbLP5TLE6EBpFJO7N0YSOmpW8hDKCcB5wnvAyAp8hfrhwMX08KdBxZAeMrZz7sqDAAoB2K06cDSsRnxlbxXHi6nDACJFqlof0ME1Dqf4XiSB+mzsdBv8n8noYeBwCjfE69a82zjpfkoBADSrRNSARAVsaB4HoLQ1q8r7x3TJ7QT7xIp/wAAAABJRU5ErkJggg=="/>  
        <p>About the Treatment</p>
      </a>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <a href="#">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACa0lEQVRYR+2XzU0CQRTHXeNZpAKXCoQKhArEqxfWCuDuwbUCsQIxMV6FDrACtQKxAijAZP3/Nm9wSFBEZlcPTvIybz547/8+Z4m2fnlE6M+yrK3poCQsE+kZRVE0Q18k5WPNhyUpd2qeBKDhAGQlK8/VCUDufTwQEsCz5NYtpH3xsfH30lUV7YleigSQu9aUXoqvlQ3g29EsKgQbAWgJFRVR6HA5t8wD/wD+hgcUo7qSoKsYnVoJ1cWn4nva3xVt25r2HYvv6ywV/yba8e7OxA/sbCj+ieRamQO6QLOYiADSFx3qx1Xts3cmurWmQsJWrNbp6yeiO6337O7UegJnGMHvVwOwSwMDca75WTQU9Uw4PNbgEYRzN7Guxz7niQhDUjvDmHys9IBdwr20z5FoLLoU3UhJIgEIZ80ZALqiK531LEycXRmAI80XhGktAAYC4VgJAPp3gzhaiKZaH4smokfvLHZ3NcNjRM253+Tmb8/KPkAyeokz502If9b0G9hXv1sLgHNZ6NnCRFXgvYXnuJQ+YF5oEj5A+N8DQQFYrvCZRy6g7MGUDzR3RORYqxAA5mZKmFJ0A5dTpjURHiDBO8EBeKW4LH3oKSTtTPfoF3FQABKKuylLZzn9IBFVRL5ywkBzaoYGgLJrM919nrmW3jbLP5TLE6EBpFJO7N0YSOmpW8hDKCcB5wnvAyAp8hfrhwMX08KdBxZAeMrZz7sqDAAoB2K06cDSsRnxlbxXHi6nDACJFqlof0ME1Dqf4XiSB+mzsdBv8n8noYeBwCjfE69a82zjpfkoBADSrRNSARAVsaB4HoLQ1q8r7x3TJ7QT7xIp/wAAAABJRU5ErkJggg=="/>  
        <p>Get in Touch</p>
      </a>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <a href="#">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACa0lEQVRYR+2XzU0CQRTHXeNZpAKXCoQKhArEqxfWCuDuwbUCsQIxMV6FDrACtQKxAijAZP3/Nm9wSFBEZlcPTvIybz547/8+Z4m2fnlE6M+yrK3poCQsE+kZRVE0Q18k5WPNhyUpd2qeBKDhAGQlK8/VCUDufTwQEsCz5NYtpH3xsfH30lUV7YleigSQu9aUXoqvlQ3g29EsKgQbAWgJFRVR6HA5t8wD/wD+hgcUo7qSoKsYnVoJ1cWn4nva3xVt25r2HYvv6ywV/yba8e7OxA/sbCj+ieRamQO6QLOYiADSFx3qx1Xts3cmurWmQsJWrNbp6yeiO6337O7UegJnGMHvVwOwSwMDca75WTQU9Uw4PNbgEYRzN7Guxz7niQhDUjvDmHys9IBdwr20z5FoLLoU3UhJIgEIZ80ZALqiK531LEycXRmAI80XhGktAAYC4VgJAPp3gzhaiKZaH4smokfvLHZ3NcNjRM253+Tmb8/KPkAyeokz502If9b0G9hXv1sLgHNZ6NnCRFXgvYXnuJQ+YF5oEj5A+N8DQQFYrvCZRy6g7MGUDzR3RORYqxAA5mZKmFJ0A5dTpjURHiDBO8EBeKW4LH3oKSTtTPfoF3FQABKKuylLZzn9IBFVRL5ywkBzaoYGgLJrM919nrmW3jbLP5TLE6EBpFJO7N0YSOmpW8hDKCcB5wnvAyAp8hfrhwMX08KdBxZAeMrZz7sqDAAoB2K06cDSsRnxlbxXHi6nDACJFqlof0ME1Dqf4XiSB+mzsdBv8n8noYeBwCjfE69a82zjpfkoBADSrRNSARAVsaB4HoLQ1q8r7x3TJ7QT7xIp/wAAAABJRU5ErkJggg=="/>  
        <p>Frequently Asked Questions</p>
      </a>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <a href="#">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACa0lEQVRYR+2XzU0CQRTHXeNZpAKXCoQKhArEqxfWCuDuwbUCsQIxMV6FDrACtQKxAijAZP3/Nm9wSFBEZlcPTvIybz547/8+Z4m2fnlE6M+yrK3poCQsE+kZRVE0Q18k5WPNhyUpd2qeBKDhAGQlK8/VCUDufTwQEsCz5NYtpH3xsfH30lUV7YleigSQu9aUXoqvlQ3g29EsKgQbAWgJFRVR6HA5t8wD/wD+hgcUo7qSoKsYnVoJ1cWn4nva3xVt25r2HYvv6ywV/yba8e7OxA/sbCj+ieRamQO6QLOYiADSFx3qx1Xts3cmurWmQsJWrNbp6yeiO6337O7UegJnGMHvVwOwSwMDca75WTQU9Uw4PNbgEYRzN7Guxz7niQhDUjvDmHys9IBdwr20z5FoLLoU3UhJIgEIZ80ZALqiK531LEycXRmAI80XhGktAAYC4VgJAPp3gzhaiKZaH4smokfvLHZ3NcNjRM253+Tmb8/KPkAyeokz502If9b0G9hXv1sLgHNZ6NnCRFXgvYXnuJQ+YF5oEj5A+N8DQQFYrvCZRy6g7MGUDzR3RORYqxAA5mZKmFJ0A5dTpjURHiDBO8EBeKW4LH3oKSTtTPfoF3FQABKKuylLZzn9IBFVRL5ywkBzaoYGgLJrM919nrmW3jbLP5TLE6EBpFJO7N0YSOmpW8hDKCcB5wnvAyAp8hfrhwMX08KdBxZAeMrZz7sqDAAoB2K06cDSsRnxlbxXHi6nDACJFqlof0ME1Dqf4XiSB+mzsdBv8n8noYeBwCjfE69a82zjpfkoBADSrRNSARAVsaB4HoLQ1q8r7x3TJ7QT7xIp/wAAAABJRU5ErkJggg=="/>  
        <p>Further Resources</p>
      </a>
    </div>
  </div>
</section>