<section class="hero">
  <a href="http://www.bbc.co.uk/programmes/b06ss17g" target="_blank" class="text-left">As featured in the BBC Panorama programme "Can You Stop My Multiple Sclerosis?" 18th January 2016</a>
  
  <div class="text-center">
    <h1>Autologous Haematopoietic Stem Cell Transplantation (AHSCT) for Multiple Sclerosis</h1>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#main">
          <%= image_tag "circle156.png", width: "64" %>  
          <h5>About the Treatment</h5>
        </a>
      </div>

      <div class="col-md-3 col-sm-6">
        <a href="#contact-information">
          <%= image_tag "email19.png", width: "64" %>  
          <h5>Contact us</h5>
        </a>
      </div>

      <div class="col-md-3 col-sm-6">
        <a href="#questions">
          <%= image_tag "questions4.png", width: "64" %>  
          <h5>Frequently Asked Questions</h5>
        </a>
      </div>

      <div class="col-md-3 col-sm-6">
        <a href="#further-resources">
          <%= image_tag "file196.png", width: "64" %>  
          <h5>Further Resources</h5>
        </a>
     </div>
    </div>
  </div>
</section>