<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= image_tag "five-icons.png", width: "100%" %>
    </div>
    
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
      <% link_to "http://www.sth.nhs.uk", target: "_blank" do %>
        <%= image_tag "logosth.png", width: "100%", class: "img-brand" %>
      <% end %>
    </div>
  </div>
</div>