<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Information</h3>
  </div>
  <div class="panel-body">
    <p>Before you contact us about the Autologous Haematopoietic Stem Cell Transplantation (AHSCT)  treatment please discuss your suitability with your own Neurologist, MS Nurse or GP.</p>
    <a href="mailto:MSStemCell@sth.nhs.uk">Email: MSStemCell@sth.nhs.uk</a>
    <a href="tel:01142715934">Tel: 0114 2715934</a>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Referral Information</h3>
  </div>
  <div class="panel-body">
    <p>Please send a written referral to:</p>
    <address>Multiple Sclerosis Clinic,<br>
             Royal Hallamshire Hospital,<br>
             Glossop Road,<br>
             Sheffield S10 2JF</address>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Frequently Asked Questions</h3>
  </div>
  <div class="panel-body">
    <ul class="list list-unstyled">
      <% data.faqs.questions.each do |f| %>
        <li><a href="#<%= f.id %>"><%= f.question %></a></li>
      <% end %>
    </ul>
  </div>
</div>