<div class="panel panel-primary" id="contact-information">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Information</h3>
  </div>
  <div class="panel-body">
    <p>Before you contact us about the Autologous Haematopoietic Stem Cell Transplantation (AHSCT)  treatment please discuss your suitability with your own Neurologist, MS Nurse or GP.</p>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><a href="mailto:MSStemCell@sth.nhs.uk">Email: MSStemCell@sth.nhs.uk</a></li>
    <li class="list-group-item"><a href="tel:01142715934">Tel: 0114 2715934</a></li>
  </ul>
</div>

<div class="panel panel-primary" id="referral-information">
  <div class="panel-heading">
    <h3 class="panel-title">Referral Information</h3>
  </div>
  <div class="panel-body">
    <p>If you wish to discuss whether you are suitable for the treatment please read the information on this site carefully. If you do feel that it may be is a suitable treatment for you you need to speak to your own neurologist or GP first. We cannot consider you for a consultation without a referral from your Neurologist or GP before the contact details</p>
    <p>Please send a written referral to:</p>
    <address>Multiple Sclerosis Clinic,<br>
             Royal Hallamshire Hospital,<br>
             Glossop Road,<br>
             Sheffield S10 2JF<br>
             South Yorkshire<br>
             England
    </address>
  </div>
</div>

<div class="panel panel-primary" id="">
  <div class="panel-heading">
    <h3 class="panel-title">MS Service at Sheffield Teaching Hospitals </h3>
  </div>
  <div class="panel-body">
    <p>The department provides a comprehensive inpatient, outpatient, and day case service to people with multiple sclerosis and allied conditions such as Neuromyelitis Optica.</p>
    <p>We have a team of consultants interested in multiple sclerosis and one with a neurological disability interest. There is also an excellent team of MS Specialist nurses.</p>
    <p>The service is supported by excellent in-patient, day patient, diagnostic radiology and neurophysiology services. The team is also involved in patient and health professional education and highly active in research, both clinical trials and through links with basic science researchers.</p>
  </div>
</div>

<div class="panel panel-primary" id="">
  <div class="panel-heading">
    <h3 class="panel-title">Notes for Health Care Professionals</h3>
  </div>
  <div class="panel-body">
    <p>We are a centre for the MIST clinical trial. </p>
    <p>This is a worldwide trial of AHSCT compared to standard of care. Brief inclusion criteria are patients with relapsing remitting multiple sclerosis who have had continuing relapses despite disease modifying therapy, with at least two clinical relapses within the last year (with new objective sings on neurological examination documented by a neurologist), or one relapse treated with steroids in the last year, and with an MRI scan of the brain showing a gadolinium enhancing lesion at least 3 months prior or after the relapse. </p>
    <p><a href="https://www.clinicaltrials.gov/ct2/show/NCT00273364" target="_blank">Full inclusion and exclusion criteria for the MIST clinical trial can be found here</a></p>
  </div>
</div>

<div class="panel panel-primary" id="">
  <div class="panel-heading">
    <h3 class="panel-title">Frequently Asked Questions</h3>
  </div>
  
  <ul class="list-group">
  <% x = 0 %>
   <% data.faqs.questions.each do |f| %>
    <% if x < 5 %>
    <li class="list-group-item"><a href="#<%= f.id %>"><%= f.question %></a></li>
      <% x += 1 %>
    <% end %>
   <% end %>
    <li class="list-group-item"><a href="#questions">See full list of Questions &raquo;</a></li>
  </ul>
</div>

<div class="panel panel-primary" id="further-resources">
  <div class="panel-heading">
    <h3 class="panel-title">Further Resources</h3>
  </div>
   <ul class="list-group">
    <li class="list-group-item"><a href="https://www.sth.nhs.uk/" target="_blank">Sheffield Teaching Hospitals Website</a></li>
    <li class="list-group-item"><a href="https://www.mssociety.org.uk/" target="_blank">MS Society Website</a></li>
    <li class="list-group-item"><a href="https://www.mstrust.org.uk/" target="_blank">MS Trust Website</a></li>
    <li class="list-group-item"><a href="https://www.mssociety.org.uk/ms-research/emerging-areas/stem-cells/AHSCT" target="_blank">MS Society Autologous Haematopoietic Stem Cell Transplantation Page</a></li>
    <li class="list-group-item"><a href="http://shift.ms/" target="_blank">Shift.ms - A social network for people with MS</a></li>
     
  </ul>
</div>