---
title: Autologous Haematopoietic Stem Cell Transplantation (AHSCT) at Sheffield Teaching Hospitals
---
<%=   partial "partials/metatags", locals: { 
                                         meta_title: "Autologous Haematopoietic Stem Cell Transplantation (AHSCT) at Sheffield Teaching Hospitals",
                                         meta_desc: "Recently a programme produced by Panorama has highlighted the use of AHSCT treatment for some patients with Multiple Sclerosis at Sheffield Teaching Hospitals NHS Foundation Trust.",
                                         sm_title: "Find out more about Autologous Haematopoietic Stem Cell Transplantation (AHSCT) at Sheffield Teaching Hospitals",
                                         sm_image: "http://www.thesundaytimes.co.uk/sto/multimedia/dynamic/01132/01_NH01MIR_1132939k.jpg",
                                         og_url: "http://www.thesundaytimes.co.uk/sto/multimedia/dynamic/01132/01_NH01MIR_1132939k.jpg"
                                        }   %>
<%# <p class="lead">Recently a programme produced by Panorama has highlighted the use of Autologous Haematopoietic Stem Cell Transplantation for some patients with Multiple Sclerosis at Sheffield Teaching Hospitals NHS Foundation Trust.</p> %>
<%# link_to "http://www.bbc.co.uk/programmes/b006t14n", target: "_blank" do %>
  <%# image_tag "holly_drewry_player.jpg", class:"pull-right img-featured", width: "300" %>
<%# end %>
<%= image_tag "holly.jpg", class:"pull-right img-featured", width: "300" %>
<p>If you wish to discuss whether you are suitable for this treatment you need to speak to your own neurologist or GP first. We cannot consider you for a consultation without a referral from them.</p>
<p>A small number of patients with relapsing remitting multiple sclerosis (MS) have received Autologous Haematopoietic Stem Cell Transplantation (AHSCT) and a clinical research trial is underway to assess its long term effect in such patients.</p>
<p>The procedure involves removing the harmful immune cells that attack the brain and spinal cord, and then uses a person’s own bone marrow stem cells to effectively re-grow the immune system. The aim is that re-booting the immune system in this way will prevent further damage in the brain and spinal cord.</p>
<p>If you are interested in finding out more <a href="#questions">please read our Frequently Asked Questions</a>. Further information about research involving this treatment is also available on the <a href="https://www.mssociety.org.uk/" target="_blank">MS Society</a> and <a href="https://www.mstrust.org.uk/" target="_blank">MS Trust</a> websites.</p>
<p>Please note if you wish to discuss whether you are suitable for the treatment you need to speak to your own neurologist or GP FIRST. We cannot consider you for a consultation without a referral from them.</p>